* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(18, 255, 255);
}

.likes {
    width: 80px;
    height: 50px;
}